{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load account socialaccount %}
{% load socialaccount %}

{% block subtitle %}Complete Sign Up{% endblock %}


{% block only-body %}

    <div class="home-btn d-none d-sm-block">
        <a href="/" class="text-dark">
            <i class="fas fa-home h2"></i>
        </a>
    </div>

    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-6 col-xl-6">
                    <div class="card overflow-hidden">
                        <div class="bg-primary bg-soft">
                            <div class="row">
                                <div class="col col-7">
                                    <div class="text-primary p-4"><h5 class="text-primary">Welcome to BrideTools !</h5>
                                        <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p></div>
                                </div>
                                <div class="col col-5 align-self-end"><img
                                        src="{% static 'core/images/base/profile-img.png' %}" alt=""
                                        class="img-fluid"></div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div>
                                <a href="">
                                    <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{{ logo }}" alt=""
                                                     class="rounded-circle"
                                                     height="12">
                                            </span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2 mb-4">

                                <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">

                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}"
                                               value="{{ redirect_field_value }}"/>
                                    {% endif %}

                                    <div class="mt-3 d-grid">
                                        <button type="submit" class="waves-effect waves-light btn btn-primary" value=""
                                                style="">Complete Sign up
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

