{% load static %}
<div class="bg-black-111" id="side-panel">
    <div class="side-panel-wrap">
        <div class="side-panel-trigger" id="side-panel-trigger-close"><a href="#"><i class="icon_close font-30"></i></a>
        </div>
        <a class="menuzord-brand pull-left flip font-great-vibes text-white font-24 pt-30 pb-30"
           href="javascript:void(0)"><img src="{{logo}}" alt=""></a>
    <br><br>
        <div class="side-panel-nav mt-30">
            <div class="widget no-border">
                <nav>
                    <br class="mt-2">
                    <ul class="nav nav-list">
                        <li><a href="{% url 'website:home' %}">Home</a></li>
{#                        <li><a href="{% url 'website:services' %}">Services</a></li>#}
                        <li><a href="{% url 'website:gallery' %}">Gallery</a></li>
{#                        <li><a href="{% url 'website:blog' %}">Blogs</a></li>#}
{#                        <li><a href="{% url 'website:events' %}">Events</a></li>#}

                        <li><a href="{% url 'website:about' %}">About</a></li>

                        <li><a href="{% url 'website:contact-us' %}">Contact</a></li>

                          {% if request.user.is_authenticated %}
                    <li class="mt-4"><a href="{% url 'accounts:cross-auth' %}"><i class="fa fa-login">Dashboard</i></a></li>
                    <li><a href="{% url 'account_logout' %}"><i class="fa fa-login">Logout</i></a></li>


            {% else  %}
                    <li  style="margin-top: 20px"><a href="{% url 'account_login' %}"><i class="fa fa-login">Login</i></a></li>
                    <li><a href="{% url 'account_signup' %}"><i class="fa fa-login">Register</i></a></li>
            {% endif %}
                    </ul>
                </nav>
            </div>
        </div>


    </div>
</div>
