six~=1.16.0
Faker
pillow
markdown
python-dateutil

django~=4.0.1
django-environ
django-filter~=23.2
django-allauth
django-resized
python-decouple
django-ckeditor
django-crispy-forms
crispy-bootstrap5
django-browser-reload
dj-rest-auth
drf-yasg
django-jazzmin
django-tinymce
django-phonenumber_field

djangorestframework~=3.14.0
DateTime~=5.0
crispy-bootstrap5