{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport"/>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <meta content="Exarth Design" name="description"/>
    <meta content="building,business,construction,cleaning,transport,workshop" name="keywords"/>
    <meta content="Exarth" name="Exarth"/>

    <!-- Page Title -->
    <title>{{ name }}</title>

    <!-- Favicon and Touch Icons -->
    <link href="{{ favico }}" rel="shortcut icon" type="image/png">
    <link href="{% static 'images/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link href="{% static 'images/apple-touch-icon-72x72.png' %}" rel="apple-touch-icon" sizes="72x72">
    <link href="{% static 'images/apple-touch-icon-114x114.png' %}" rel="apple-touch-icon" sizes="114x114">
    <link href="{% static 'images/apple-touch-icon-144x144.png' %}" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'website/css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'website/css/animate.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'website/css/css-plugin-collections.css' %}" rel="stylesheet"/>
    <!-- CSS | menuzord megamenu skins -->
    <link href="{% static 'website/css/menuzord-skins/menuzord-bottom-trace.css' %}" id="menuzord-menu-skins"
          rel="stylesheet"/>
    <!-- CSS | Main style file -->
    <link href="{% static 'website/css/style-main.css' %}" rel="stylesheet" type="text/css">
    <!-- CSS | Theme Color -->
    <link href="{% static 'website/css/colors/theme-skin-red.css' %}" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="{% static 'website/css/preloader.css' %}" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="{% static 'website/css/custom-bootstrap-margin-padding.css' %}" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="{% static 'website/css/responsive.css' %}" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

    <!-- Revolution Slider 5.x CSS settings -->
    <link href="{% static 'website/js/revolution-slider/css/settings.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'website/js/revolution-slider/css/layers.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'website/js/revolution-slider/css/navigation.css' %}" rel="stylesheet" type="text/css"/>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- external javascripts -->
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="{% static 'website/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="{% static 'website/js/jquery-plugin-collection.js' %}"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="{% static 'website/js/revolution-slider/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'website/js/revolution-slider/js/jquery.themepunch.revolution.min.js' %}"></script>

    {# "da","es","ga","it","pl","sv","tr","hi","iw" #}
    <div class="gtranslate_wrapper"></div>
    <script>window.gtranslateSettings = {
        "default_language": "en",
        "languages": ["en","hu","fr", "de", "es", "tr", "ar"],
        "wrapper_selector": ".gtranslate_wrapper"
    }</script>
    <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VECHWMQ64Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VECHWMQ64Q');
</script>

    <!-- Hotjar Tracking Code for https://bridetools.org/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3630088,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>

<body >
<div class=""></div>

{% include 'website/include/sidebar.html' %}

<div class="clearfix" id="wrapper">
    <!-- preloader -->
    <div id="preloader">
        <div id="spinner">
            <img alt="" src="{% static 'website/images/preloaders/1.gif' %}">
        </div>
        <div class="btn btn-default btn-sm" id="disable-preloader">Disable Preloader</div>
    </div>
    {% include 'website/include/header.html' %}


        {% block content %}
        {% endblock content %}

    <!-- Start main-content -->
    <!-- end main-content -->
    {% include 'website/include/footer.html' %}
    <!-- Footer -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script src="{% static 'website/js/custom.js' %}"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
      (Load Extensions only on Local File Systems !
       The following part can be removed on Server for On Demand Loading) -->
<script src="{% static 'website/js/revolution-slider/js/extensions/revolution.extension.actions.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'website/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'website/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'website/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'website/js/revolution-slider/js/extensions/revolution.extension.migration.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'website/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'website/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'website/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'website/js/revolution-slider/js/extensions/revolution.extension.video.min.js' %}"
        type="text/javascript"></script>

</body>
</html>