{% extends  'website/base.html' %}
{% load static %}
{% block content %}
<!-- Start main-content -->
<div class="main-content" style="overflow-x: hidden">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5">
        {% if background.contact_background %}
            <img src="{{ background.contact_background.url }}" style="height: 400px; width: inherit; object-fit: cover;" alt="Background Image">
        {% else %}
            <img src="{% static 'website/images/bg/bg11.jpg' %}" style="height: 400px; width: inherit; object-fit: cover;" alt="Default Background Image">
        {% endif %}
    
    </section>
    <div class="container ">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-dark">Contact Us</h3>
                </div>
            </div>
        </div>
    </div>



    <!-- Divider: Contact -->
    <section class="divider layer-overlay overlay-white-9" data-bg-img="{% static 'website/images/bg/bg8.jpg' %}">
        <div class="container">
            <div class="row pt-30">

                <div class="col-md-8">
                    <h3 class="mt-0 mb-30">Interested in discussing?</h3>


                    <!-- Contact Form -->
                    <form id="contact_form" class="form-transparent"
                          method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form_name">Name <small>*</small></label>
                                    <input id="form_name" name="name" class="form-control required" type="text"
                                           placeholder="Enter Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form_email">Email <small>*</small></label>
                                    <input id="form_email" name="email" class="form-control required email"
                                           type="email" placeholder="Enter Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form_name">Subject <small>*</small></label>
                                    <input id="form_subject" name="subject" class="form-control required"
                                           type="text" placeholder="Enter Subject">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form_phone">Phone</label>
                                           <input id="form_phone" name="phone" class="form-control required" type="text" placeholder="Enter Phone">

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="form_name">Message</label>
                            <textarea id="form_message" name="message" class="form-control required" rows="5"
                                      placeholder="Enter Message"></textarea>
                        </div>

                 <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6LfmStsnAAAAACI7H1LpTibQV9mXhowqIKKmUyhs"></div>
    </div>
    <div class="form-group">
        <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value=""/>
        <button type="submit" class="btn btn-dark btn-theme-colored btn-flat mr-5"
                data-loading-text="Please wait...">Send your message
        </button>
        <a href="{% url 'website:contact-us' %}" type="reset" class="btn btn-default btn-flat btn-theme-colored">Reset</a>
    </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="icon-box left media bg-light p-30 mb-20"><a class="media-left pull-left"
                                                                                    href="#"> <i
                                    class="pe-7s-map-2 text-theme-colored"></i></a>
                                <div class="media-body"><strong class="">OUR OFFICE LOCATION</strong>
                                    <p>{{ address }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <div class="icon-box left media bg-light p-30 mb-20"><a class="media-left pull-left"
                                                                                    href="#"> <i
                                    class="pe-7s-call text-theme-colored"></i></a>
                                <div class="media-body"><strong class="">OUR CONTACT NUMBER</strong>
                                    <p><a href="tel:{{ phone }}">{{ phone }}</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <div class="icon-box left media bg-light p-30 mb-20"><a class="media-left pull-left"
                                                                                    href="#"> <i
                                    class="pe-7s-mail text-theme-colored"></i></a>
                                <div class="media-body"><strong class="">OUR CONTACT E-MAIL</strong>
                                    <p><a href="mailto:{{ email }}">{{ email }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Divider: Google Map -->
</div>

                                {% include 'messages.html' %}

<!-- end main-content -->

</script>
{% endblock content %}