{% extends 'website/base.html' %}
{% load static %}
{% block content %}


<!-- Start main-content -->
<div class="main-content" style="overflow-x: hidden">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5">
        {% if background.gallery_background %}
            <img src="{{ background.gallery_background.url }}" style="height: 400px; width: inherit; object-fit: cover;" alt="Background Image">
        {% else %}
            <img src="{% static 'website/images/bg/bg11.jpg' %}" style="height: 400px; width: inherit; object-fit: cover;" alt="Default Background Image">
        {% endif %}
    
    </section>
    <div class="container ">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-dark">Gallery</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Section: Gallery  -->
    <section class="bg-lighter" id="gallery">
        <div class="container-fluid p-0">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">

                        <!-- Portfolio Gallery Grid -->
                    <div id="grid" class="portfolio-gallery grid-4 clearfix" data-lightbox="gallery" style="position: relative; height: 532.5px;">
                      {% for image in gallery_images %}
                      <!-- Portfolio Item Start -->
                      <div class="portfolio-item" style="position: absolute; left: 0px; top: 0px;">
                        <a href="{{ image.image.url }}" data-lightbox="gallery-item" title="{{ image.category }}">
                          <div class="thumb">

                            <img class="img-fullwidth photo" style="height: 300px; width: 900px; object-fit: cover;" src="{{ image.image.url }}" alt="project">
                            <div class="overlay-shade"></div>
                            <div class="text-holder">
                              <div class="title text-center">{{ image.category }}</div>
                            </div>
                            <div class="icons-holder">
                              <div class="icons-holder-inner">
                                <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                  <i class="fa fa-plus text-white"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                      {% endfor %}
                      <!-- Portfolio Item End -->
                    </div>
                        <!-- End Portfolio Gallery Grid -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->

{% endblock content %}





