{% extends 'website/base.html' %}
{% load static %}
{% block content %}

<div class="main-content" style="overflow-x: hidden">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5"
             data-bg-img="{% static 'website/images/bg/bg11.jpg' %}"
             style="background-image: url(&quot;images/bg/bg11.jpg&quot;);">
        <div class="container pt-120 pb-50">
            <!-- Section Content -->
            <div class="section-content pt-100">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-white">Privacy Policy</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: -->
    <section>
        <div class="container pb-0">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="mt-0">Valid From : {% now 'Y' %}</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ privacy|safe }}
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>

{% endblock content %}


