{% load static %}
<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item text-center">
                        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'admins:dashboard' %}">
                            <img src="{% static 'core/images/header/mywedding.png' %}" style="height: 30px"><br>My Wedding
                        </a>
                    </li>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    {# Apps #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none text-center"
                           href="{% url 'admins:guest-group-list' %}" >
                            <img src="{% static 'core/images/header/group.png' %}" style="height: 30px"><br>Guest List
                        </a>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none text-center "
                           href="{% url 'admins:provider-list' %}" >
                            <img src="{% static 'core/images/header/provider.png' %}" style="height: 30px"><br>Provider
                        </a>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none text-center "
                           href="{% url 'admins:event-timeline' %}" >
                            <img src="{% static 'core/images/header/event.png' %}" style="height: 30px"><br>Events
                        </a>
                    </li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none text-center "
                           href="{% url 'admins:seat-planner-list' %}" >
                            <img src="{% static 'core/images/header/seat.png' %}" style="height: 30px"><br>Seat Planner
                        </a>
                    </li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none text-center "
                           href="{% url 'website:home' %}" >
                            <img src="{% static 'core/images/header/website.png' %}" style="height: 30px"><br>Website
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>