<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'admins:dashboard' %}">
                            <i class="bx bx-home-circle mr-2"></i>Dashboard
                        </a>
                    </li>


                    {# Apps #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none"
                           href="{% url 'admins:guest-group-list' %}" >
                            <i class="bx bx-user mr-2"></i>Groups
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none"
                           href="{% url 'admins:guest-list' %}" >
                            <i class="bx bx-user mr-2"></i>Guests
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none"
                           href="{% url 'admins:provider-list' %}" >
                            <i class="bx bx-user mr-2"></i>Provider
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none"
                           href="{% url 'admins:seat-planner-list' %}" >
                            <i class="bx bx-user mr-2"></i>Seat Planner
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>