{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block subtitle %} {{ request.user }} {% endblock %}

{% block content %}
    <style>

        @keyframes zoomIn {
            from {
                transform: scale(0);
            }
            to {
                transform: scale(1);
            }
        }

        /* Apply the animation to the modal dialog */
        .modal-dialog.zoomIn {
            animation: zoomIn 0.3s ease-in-out;
        }


    </style>

    <div aria-hidden="true" aria-labelledby="EventModalLabel" class="modal fade" id="EventModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered zoomIn" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="EventModalLabel">Add Event </h5>
                <button type="button" class="close btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                         <div class="ml-3">
                    <div class="create_modal_errors">

                    </div>


                </div>
                <form action="{% url 'admins:event-create' %}"
                      method="post" id="event-form">
                    {% csrf_token %}

                    <div class="modal-body">

                        {% crispy form %}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-success" id="save-event" type="submit">Save</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="UpdateModalFormLabel" class="modal fade " id="UpdateModalForm"
         role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered zoomIn" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="UpdateModalFormLabel">Update Event </h5>
                                    <button type="button" class="close btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                </div>
                <div class="ml-3">
                    <div class="update_modal_errors">

                    </div>


                </div>
                <!-- Add 'id' attribute to the form element -->
                <form enctype="multipart/form-data" id="update-event-form"
                      method="post">
                    {% csrf_token %}

                    <div class="modal-body">
                        {% crispy form %}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-success" id="update-event" type="button">Save</button>
                    </div>
                </form>


            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Manage Events</h4>

                <div class="page-title-right">
                    <button class="btn btn-success" data-target="#EventModal" data-toggle="modal"
                            data-whatpy.py runserverr="@getbootstrap"
                            type="button">Add Events
                    </button>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {% if object_list %}
                        <div class="table-responsive">
                            <table class="table table-hover table align-middle table-nowrap mb-0">

                                <thead class="table-light">
                                <tr>
                                    <th scope="col" style="width: 100px">#</th>
                                    <th class="align-middle">name</th>
                                    <th class="align-middle"> title</th>
                                    <th class="align-middle"> description</th>
                                    <th class="align-middle"> Date</th>
                                    <th class="align-middle">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ object.name }}
                                        </td>
                                        <td>{{ object.title }}</td>
                                        <td>{{ object.description }}</td>
                                        <td>{{ object.date }}</td>

                                        <td>

                                            <button class="btn btn-primary btn-sm btn-rounded update-button"
                                                    data-record-id="{{ object.id }}">
                                                <i class="fa fa-edit"></i> edit
                                            </button>
                                            <button class="btn btn-danger btn-sm btn-rounded delete-button"
                                                    data-object-id="{{ object.id }}">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <span class="text-danger"><b>Events Not Found</b></span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="mt-0">
                <ul class="pagination">
                    {% if object_list.has_previous %}
                        <li>
                            <span>
    <a href="?page=

            {{ object_list.previous_page_number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode|urlencode }}{% endif %}">
                                    Previous
                                </a>
                            </span>
                        </li>
                    {% endif %}
                    <li class="">
                        <span>Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                    </li>
                    {% if object_list.has_next %}
                        <li>
                            <span>
    <a href="?page=

            {{ object_list.next_page_number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode|urlencode }}{% endif %}">
                                    Next
                                </a>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>


    <!-- end row -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    <script>
        $(document).ready(function () {
            $('body .delete-button').click(function () {
                id = $(this).data('object-id')
                console.log(id)
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location = `/admins/event/delete/${id}`;
                    }
                });
            });
        });
    </script>


    {# Create Model Form #}



    <script>
        $(document).ready(function () {
            // Handle form submission
            $("#save-event").click(function () {
                var form = $("#event-form");
                var formData = new FormData(form[0]);

                // Check if all required fields are filled
                var requiredFields = form.find("[required]");
                var isFormValid = true;
                requiredFields.each(function () {
                    if ($(this).val() === "") {
                        $(this).addClass("is-invalid");
                        isFormValid = false;
                    } else {
                        $(this).removeClass("is-invalid");
                    }
                });

                if (!isFormValid) {
                    return;
                }
                $.ajax({
                    type: form.attr("method"),
                    url: form.attr("action"),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        // Reset the form fields
                        form[0].reset();
                        // Close the modal
                        $("#EventModal").modal("hide");
                        // Reload the page or update the content as desired
                        location.reload();
                    },
                    error: function (error) {

                        var errors = JSON.parse(error.responseText).errors;
                        handleFormErrors(errors);
                    }
                });
            });

            // Function to display form errors
            function handleFormErrors(errors) {
                // Remove existing error messages and classes
                $(".form-group").removeClass("is-invalid");
                $(".invalid-feedback").html("");
                $(".create_modal_errors").html(""); // Clear previous error alerts
                $.each(errors, function (field, messages) {
                    var inputField = $("#id_" + field);
                    var errorField = inputField.closest(".form-group").find(".invalid-feedback");
                    // Add error message(s) to the error field
                    errorField.html(messages.join("<br>"));
                    // Add 'is-invalid' class to the input field's parent element
                    inputField.closest(".form-group").addClass("is-invalid");
                    // Add error message(s) with field name to the error alert box
                    var errorAlertBox = $('<div class="alert alert-danger alert-dismissible">' +
                        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
                        '<strong id="field_name">' + field + ':</strong>' +
                        '<span id="error_name" class="ml-2">' + messages.join('<br>') + '</span>' +
                        '</div>');
                    // Append the error alert box to the error container
                    $(".create_modal_errors").append(errorAlertBox);
                });
            }
        });


    </script>


    {# Update Modal Form #}
    <script>
        $(document).ready(function () {
            var recordId;

            $('.update-button').click(function () {
                recordId = $(this).data('record-id');
                console.log('Clicked record ID:', recordId);

                // Open the Bootstrap modal form
                $('#UpdateModalForm').modal('show');

                // Fetch Event details via AJAX
                $.ajax({
                    url: '/admins/event/update/' + recordId +'/',
                    method: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        // Populate the form fields with event details
                        var EventData = response.event;
                        console.log(EventData);

                        // Set values for each form field
                      for (var fieldName in EventData) {
                        if (EventData.hasOwnProperty(fieldName)) {
                            var fieldValue = EventData[fieldName];
                            // Handle date field separately and format it correctly
                            if (fieldName === 'date') {
                                fieldValue = fieldValue.replace('T', ' ');
                            }
                            // Select the form field by name and set its value
                            $('#update-event-form [name="' + fieldName + '"]').val(fieldValue);
                        }
                    }

                        // Update the data-record-id attribute on the submit button to store the record ID
                        $('#update-event').data('record-id', recordId);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching provider details:', error);
                    }
                });

                // Prevent the default button behavior if needed
                return false;
            });

            // Handle form submission
            $('#update-event').click(function () {
                var form = $('#update-event-form');
                var formData = new FormData(form[0]);


                var url = '/admins/event/update/' + recordId + '/';

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        // Reset the form fields
                        form[0].reset();
                        // Close the modal
                        $('#UpdateModalForm').modal('hide');
                        // Reload the page or update the content as desired
                        location.reload();
                    },
                    error: function (error) {
                        var errors = JSON.parse(error.responseText).errors;
                        handleFormErrors(errors, '.update_modal_errors');
                    }
                });
            });

            // Function to display form errors
            function handleFormErrors(errors, errorContainer) {
                // Remove existing error messages and classes
                $('.form-group').removeClass('is-invalid');
                $('.invalid-feedback').html('');
                $(errorContainer).empty();

                $.each(errors, function (field, messages) {
                    var inputField = $('#id_' + field);
                    var errorField = inputField.closest('.form-group').find('.invalid-feedback');

                    // Add error message(s) to the error field
                    errorField.html(messages.join('<br>'));

                    // Add 'is-invalid' class to the input field's parent element
                    inputField.closest('.form-group').addClass('is-invalid');

                    // Add error message(s) with field name to the error alert box
                    var errorAlertBox = $('<div class="alert alert-danger alert-dismissible">' +
                        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
                        '<strong id="field_name">' + field + ':</strong>' +
                        '<span id="error_name" class="ml-2">' + messages.join('<br>') + '</span>' +
                        '</div>');

                    // Append the error alert box to the error container
                    $(errorContainer).append(errorAlertBox);
                });
            }
        });


    </script>



{% endblock content %}

<!-- end row -->

