{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block subtitle %} {{ request.user }} {% endblock %}

{% block page_heading %}

<div aria-hidden="true" aria-labelledby="GuestGroupModelLabel" class="modal fade" id="GuestGroupModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="GuestGroupModelLabel">Add Guest </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                {% csrf_token %}

                <div class="modal-body">

                    {{ form.as_p }}


                </div>
                <div class="modal-footer">

                    <button class="btn btn-danger " data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-outline-success " type="submit">Save</button>
                </div>
            </form>


        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Guest List</h4>

            <div class="page-title-right">
                <button class="btn btn-outline-success" data-target="#GuestGroupModal" data-toggle="modal"
                        data-whatever="@getbootstrap"
                        type="button">Add Guest
                </button>
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block content %}

<div class="card">
    <div class="card-body border-bottom">
                    <form method="get">

        <div class="row g-3">
           <div class="col-xxl-4 col-lg-4">
                {{filter_form.guest_name}}
                </div>
            <div class="col-xxl-4 col-lg-4">
                {{filter_form.group}}
                </div>
                <div class="col-xxl-2 col-lg-2">
                    <button class="btn btn-outline-success w-100" type="submit"><i
                            class="mdi mdi-filter-outline align-middle"></i> Filter
                    </button>
                </div>
            <div class="col-xxl-2 col-lg-2">
                    <a href="{% url 'admins:guest-list' %}" class="btn btn-outline-danger w-100" type="submit"><i
                            class="mdi mdi-filter-outline align-middle"></i> Clear
                    </a>
                </div>
        </div>
                                    </form>

    </div>
</div>

<div class="">
    <div class="table-responsive">
        <table class="table project-list-table table-nowrap align-middle table-borderless">
            <thead>
            <tr>
                <th scope="col" style="width: 100px">#</th>
                <th scope="col">Guest Name</th>
                <th scope="col">Group Name</th>
                <th scope="col">Created At</th>
                <th scope="col">Action</th>

            </tr>
            </thead>
            <tbody>
                    {% for object in object_list %}
            <tr>
                <td>{{object.id}}</td>
                <td>{{object.guest_name}}</td>
                <td>{{object.group}}</td>
                <td>{{object.created_at}}</td>
                <td>
                    <a href="{% url 'admins:guest-delete' object.id %}" class="btn btn-danger btn-sm"> <i class="fa fa-trash"></i></a>
                </td>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}


