{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block subtitle %} {{ request.user }} {% endblock %}

{% block content %}


    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Seat Planner List</h4>

                <div class="page-title-right">
                    <a class="btn btn-success" href="{% url 'admins:seat-planner-create' %}"
                       type="button">Add Tables
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="get">
                <div class="input-group mb-3">
                    {{ filter_form }}
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <a class="btn btn-danger" href="{% url 'admins:seat-planner-list' %}">
                            <i class="fa fa-brush"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {% if object_list %}
                        <div class="table-responsive">
                            <table class="table table-hover table align-middle table-nowrap mb-0">
                                <thead class="table-light">
                                <tr>
                                    <th scope="col" style="width: 100px">#</th>
                                    <th scope="col">Table Name</th>
                                    <th scope="col">Table Type</th>
                                    <th scope="col">Total Guests</th>
                                    <th scope="col">Total Seats</th>
                                    <th scope="col">Seats Left</th>
                                    <th scope="col">Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{ object.table_name }}</td>
                                        <td>{{ object.get_table_type_display }}</td>
                                        <td>{{ object.guests.count }}</td>
                                        <td>{{ object.seat_count }}</td>
                                        <td>{{ object.seats_left }}</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm btn-rounded"
                                               href="{% url 'admins:seat-planner-detail' object.id %}"><i
                                                    class="fa fa-eye"></i>&nbsp;view</a>
                                            <a class="btn btn-danger btn-sm btn-rounded delete-button"
                                               data-object-id="{{ object.id }}"><i
                                                    class="fa fa-trash"></i></a>


                                        </td>

                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <span class="text-danger"><b>Tables Are not Found</b> </span>
                    {% endif %}
                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mt-0">
                <ul class="pagination">
                    {% if object_list.has_previous %}
                        <li>
                            <span>
    <a href="?page=
            {{ object_list.previous_page_number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode|urlencode }}{% endif %}">
                                    Previous
                                </a>
                            </span>
                        </li>
                    {% endif %}
                    <li class="">
                        <span>Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                    </li>
                    {% if object_list.has_next %}
                        <li>
                            <span>
    <a href="?page=
            {{ object_list.next_page_number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode|urlencode }}{% endif %}">
                                    Next
                                </a>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- end row -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    {# Create Model Form #}
    <script>
        $(document).ready(function () {
            $('body .delete-button').click(function () {
                id = $(this).data('object-id')
                console.log(id)
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location = `/admins/seat-planner/delete/${id}/`;
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // Handle form submission
            $("#save-provider").click(function () {
                var form = $("#provider-form");
                var formData = new FormData(form[0]);

                // Check file size before submitting
                var fileInput = $("#id_attachment");
                var maxFileSize = 5 * 1024 * 1024; // 5 MB
                if (fileInput[0].files.length > 0) {
                    var fileSize = fileInput[0].files[0].size;
                    if (fileSize > maxFileSize) {
                        alert("File size exceeds the maximum limit of 5 MB.");
                        return;
                    }
                }
                // Check if all required fields are filled
                var requiredFields = form.find("[required]");
                var isFormValid = true;
                requiredFields.each(function () {
                    if ($(this).val() === "") {
                        $(this).addClass("is-invalid");
                        isFormValid = false;
                    } else {
                        $(this).removeClass("is-invalid");
                    }
                });

                if (!isFormValid) {
                    return;
                }
                $.ajax({
                    type: form.attr("method"),
                    url: form.attr("action"),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        // Reset the form fields
                        form[0].reset();
                        // Close the modal
                        $("#GuestGroupModal").modal("hide");
                        // Reload the page or update the content as desired
                        location.reload();
                    },
                    error: function (error) {
                        console.log(error)
                        console.log(error.responseText);
                        var errors = JSON.parse(error.responseText).errors;
                        console.log(errors);
                        handleFormErrors(errors);
                    }
                });
            });

            // Function to display form errors
            function handleFormErrors(errors) {
                // Remove existing error messages and classes
                $(".form-group").removeClass("is-invalid");
                $(".invalid-feedback").html("");
                $(".create_modal_errors").html(""); // Clear previous error alerts

                $.each(errors, function (field, messages) {
                    var inputField = $("#id_" + field);
                    var errorField = inputField.closest(".form-group").find(".invalid-feedback");

                    // Add error message(s) to the error field
                    errorField.html(messages.join("<br>"));

                    // Add 'is-invalid' class to the input field's parent element
                    inputField.closest(".form-group").addClass("is-invalid");

                    // Add error message(s) with field name to the error alert box
                    var errorAlertBox = $('<div class="alert alert-danger alert-dismissible">' +
                        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
                        '<strong id="field_name">' + field + ':</strong>' +
                        '<span id="error_name" class="ml-2">' + messages.join('<br>') + '</span>' +
                        '</div>');

                    // Append the error alert box to the error container
                    $(".create_modal_errors").append(errorAlertBox);
                });
            }
        });


    </script>


    {# Update Modal Form #}
    <script>
        $(document).ready(function () {
            var recordId;

            $('.update-button').click(function () {
                recordId = $(this).data('record-id');
                console.log('Clicked record ID:', recordId);

                // Open the Bootstrap modal form
                $('#UpdateModalForm').modal('show');

                // Fetch provider details via AJAX
                $.ajax({
                    url: '/admins/provider/update/' + recordId,
                    method: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        // Populate the form fields with provider details
                        var providerData = response.provider;
                        console.log(providerData);

                        // Set values for each form field
                        for (var fieldName in providerData) {
                            if (providerData.hasOwnProperty(fieldName)) {
                                var fieldValue = providerData[fieldName];
                                // Select the form field by name and set its value
                                $('#update-provide-form [name="' + fieldName + '"]').val(fieldValue);
                            }
                        }

                        // Update the data-record-id attribute on the submit button to store the record ID
                        $('#update-provider').data('record-id', recordId);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching provider details:', error);
                    }
                });

                // Prevent the default button behavior if needed
                return false;
            });

            // Handle form submission
            $('#update-provider').click(function () {
                var form = $('#update-provide-form');
                var formData = new FormData(form[0]);

                // Check file size before submitting
                var fileInput = $('#id_attachment');
                var maxFileSize = 5 * 1024 * 1024; // 5 MB
                if (fileInput[0].files.length > 0) {
                    var fileSize = fileInput[0].files[0].size;
                    if (fileSize > maxFileSize) {
                        alert('File size exceeds the maximum limit of 5 MB.');
                        return;
                    }
                }

                var url = '/admins/provider/update/' + recordId;

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        // Reset the form fields
                        form[0].reset();
                        // Close the modal
                        $('#UpdateModalForm').modal('hide');
                        // Reload the page or update the content as desired
                        location.reload();
                    },
                    error: function (error) {
                        console.log(error.responseText);
                        var errors = JSON.parse(error.responseText).errors;
                        console.log(errors);
                        handleFormErrors(errors, '.update_modal_errors');
                    }
                });
            });

            // Function to display form errors
            function handleFormErrors(errors, errorContainer) {
                // Remove existing error messages and classes
                $('.form-group').removeClass('is-invalid');
                $('.invalid-feedback').html('');
                $(errorContainer).empty();

                $.each(errors, function (field, messages) {
                    var inputField = $('#id_' + field);
                    var errorField = inputField.closest('.form-group').find('.invalid-feedback');

                    // Add error message(s) to the error field
                    errorField.html(messages.join('<br>'));

                    // Add 'is-invalid' class to the input field's parent element
                    inputField.closest('.form-group').addClass('is-invalid');

                    // Add error message(s) with field name to the error alert box
                    var errorAlertBox = $('<div class="alert alert-danger alert-dismissible">' +
                        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
                        '<strong id="field_name">' + field + ':</strong>' +
                        '<span id="error_name" class="ml-2">' + messages.join('<br>') + '</span>' +
                        '</div>');

                    // Append the error alert box to the error container
                    $(errorContainer).append(errorAlertBox);
                });
            }
        });


    </script>


{% endblock content %}

<!-- end row -->

